html, body {
    padding: 0;
    margin: 0;
    background: rgb(67,25,108);
    background: linear-gradient(90deg, rgba(67,25,108,1) 0%, rgba(56,19,91,1) 100%);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
}

.header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}

.logotype span {
    font-weight: 600;
    font-size: 22px;
}

.logotype a {
    color: #E7AF25;
    font-size: 13px;
    font-weight: 600;
}

.blog {
    font-size: 18px;
}

.header_in {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
}

.page_body {
    width: 100%;
}

.page_in {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.page h1 {
    text-align: right;
    font-weight: 600;
    font-size: 25px;
}

.platforms {
    margin-top: 50px;
}

.platforms_line {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;
    color: #D2CADB;
}

.platforms_line span{
    position: relative;
    top: -2px;
    font-weight: 600;
}

.platforms_line f {
    width: 5px;
    height: 5px;
    display: block;
    border-radius: 50%;
    background-color: #F7891E;
    margin-left: 15px;
}

.img_logo {
    width: 1180px;
    height: auto;
    position: relative;
    left: -20px;
}

.img_logo img {
    width: 100%;
}

.add_button {
    width: 220px;
    height: 45px;
    background: rgb(243,109,34);
    background: linear-gradient(90deg, rgba(243,109,34,1) 0%, rgba(248,159,27,1) 100%);
    float: right;
    margin-top: 65px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.add_button img {
    width: 20px;
    transform: rotate(-90deg);
}